#ignore the audio files
*.wav
*.flac
*.mp3

#ignore the Dataset directory
**/Dataset/

#ignore log files
*.out
*.err

#ignore model files
**/results/

#ignore images
#*.png
#*.jpg
#*.jpeg
#*.svg

#ignore pickle files
*.pkl
*.pickle
